*, *::before, *::after {
 box-sizing: border-box;
 font-family: "Montserrat", sans-serif;
margin:0; 
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--lightbrown-300);
}

:root{
  --brown-100:#ffaf69;
  --brown-200:#e18737;
  --brown-300:#da7217;
  --brown-400:#b15709;
  --brown-500:#7a3900;
  --brown-600:#5d2b00;
  --brown-700:#4b2300;
  --brown-800:#442000;
  --brown-900:#311700;
  --lightbrown-100:#fff8f1;
  --lightbrown-200:#e4d4c3;
  --lightbrown-300:#d5c5b4;
  --lightbrown-400:#504336;
  --lightbrown-500:#3e3227;
  --lightbrown-600:#3c2d1f;
  --lightbrown-700:#473626;

}

/* Scrollbar */
::-webkit-scrollbar {
background-color: #3c2d1f;
width: 15px;
}
::-webkit-scrollbar-thumb {
background-color: #b15709;
border: 3.2px solid #3c2d1f;
border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
background-color: #b15709;
}